include *.md
include LICENSE.txt
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include pyautogui *.py
recursive-include tests *.py
